* {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
}
.box1 {background-color: rgba(251, 196, 196, 0.8);}
.box2 {background-color: rgb(161, 95, 95);}
.box3 { background-color: rgba(187, 91, 74, 0.8); }
.box4 {background-color: rgba(206, 98, 55, 0.8);}
.box5 {background-color: rgba(225, 159, 101, 0.8); }
.box6 { background-color: rgba(220, 173, 98, 0.8); }
.box7 { background-color: rgba(213, 189, 122, 0.8); }
.box8 { background-color: rgba(207, 205, 90, 0.8); }
.box9 { background-color: rgba(201, 222, 127, 0.8); }
.box10 { background-color: rgba(96, 174, 111, 0.8); }
.box11 { background-color: rgba(117, 193, 121, 0.8); }
.box12 { background-color: rgba(119, 213, 149, 0.8); }
.box13 { background-color: rgba(119, 211, 180, 0.8); }
.box14 { background-color: rgba(119, 210, 209, 0.8); }
.box15 { background-color: rgba(129, 184, 212, 0.8); }
.box16 { background-color: rgba(104, 169, 204, 0.8); }
.box17 { background-color: rgba(93, 140, 184, 0.8); }
.box18 { background-color: rgba(107, 157, 204, 0.8); }
.box19 { background-color: #6977c0cc; }
.box20 { background-color: rgba(133, 98, 212, 0.8); }